.medications {
  background-color: #e0e7eF;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: grid;
  color: #333;
}

.am-pm {
  background-color: lightgreen;
}
.pm-only {
  background-color: gold;
}
.am-only {
  background-color: lightblue;
}
.as-needed {
  background-color: #ddd;
}